.mr-5 {
    margin-right: 5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
}